# Rust artifacts
target/

# Node artifacts
build/
prebuilds/
node_modules/

# Swift artifacts
.build/

# Go artifacts
_obj/

# Python artifacts
.venv/
dist/
*.egg-info
*.whl

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc
*.exp
*.lib

# Zig artifacts
.zig-cache/
zig-cache/
zig-out/

# Example dirs
/examples/*/

# Grammar volatiles
*.wasm
*.obj
*.o

# Archives
*.tar.gz
*.tgz
*.zip
*.jar

/obj/
/bin/

# C# / .NET build artifacts
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
Build/
out/
TestResults/
*.nupkg
*.snupkg
*.ncrunch*
*_i.c
*_p.c
*.nupkg.metadata
*.cache
*.pdb
*.mdd
*.mdd.xml
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/
artifacts/
*.tlb
*.tlc
*.bak
*.[Cc]ache
.vs/
.vscode/
.idea/
*.VC.db
*.VC.VC.opendb
project.lock.json
project.fragment.lock.json
.paket/paket.exe
.glide/

